body
{
    background-image: url(imagenes/solido.jpg);
}
#titulo
{
    text-align: center;
    font-style: italic;
    font-size: 70px;
    color: lightgreen;
}
#sub
{
    text-align: center;
    font-style: italic;
    font-size: 35px;
    color: tan;
}
#detalles
{
    text-align:left;
    margin: 15px;
    border: solid plum 5px;
    padding: 10px;
}
#desc
{
    text-align: center;
    border: solid mediumpurple 5px;
}
#portada
{
    background-color: thistle;
}